/* GameBoard container */
.board {
  display: grid;
  gap: 0.5rem; /* 8px */
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .board {
    width: 100%;
    max-width: 24rem;
  }
}

@media (max-width: 640px) {
  .board {
    gap: 0.35rem;
    max-width: 20rem;
  }
}
